
export(Bootstrap_Variance)
export(Jackknife_Variance)
export(Louis_Information)
export(Louis_Information_Custom)
export(func.boot)
export(func.jack)
export(glm.weighted.dispersion)
export(my_update)
importFrom(boot, boot)
importFrom("stats", "aggregate", "coef", "getCall", "model.matrix",
           "residuals", "terms", "update.formula", "var", "vcov",
           "weights")
importFrom("utils", "stack")
importFrom(magrittr, "%>%")
export("%>%")
